<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VideoCls.Properties.Settings.VidRentalConnectionString"
            connectionString="Driver={ODBC Driver 13 for SQL Server};server=tcp:ulatina.database.windows.net,1433;database=VidRental;uid=wrightadmin@ulatina;pwd={your_password_here};encrypt=yes;trustservercertificate=no;connection timeout=30"
            providerName="System.Data.Odbc" />
        <add name="VideoCls.Properties.Settings.NewVidRentalConnectionString1"
            connectionString="Driver={ODBC Driver 13 for SQL Server};server=tcp:ulatina.database.windows.net,1433;uid=wrightadmin;pwd=6Fui2&quot;Ph;trusted_connection=No;app=Microsoft® Visual Studio®;wsid=MAINDESKTOP;database=VidRental;encrypt=yes"
            providerName="System.Data.Odbc" />
        <add name="VideoCls.Properties.Settings.DataVidConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DAL\DataVid.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>